/*    reset code starts   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

.section_padding {
  padding: 40px 40px;
}

.section_margin {
  margin: 5px 0;
}


html,
body {
  width: 100%;
  height: 100vh;

}

/*    reset code ends   */


/*    nav start here   */

#mobile {
  display: none;
}

#closeMenu {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(225, 225, 243);
  padding: 0 40px;


}


.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_logo label {
  font-size: 25px;
  color: black;
}

.nav_logo label span {
  color: green;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: 0.5s;

}



.nav_list li {
  margin-right: 10px;
  position: relative;

}

.nav_list li a {
  font-size: 22px;
  color: black;
  transition: 0.5s;
}


.nav_list li a:hover,
.nav_list li a.active {
  color: green;
}

.nav_list li a:hover::after,
.nav_list li a.active::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: green;
  position: absolute;
  bottom: -4px;
  left: 0;
}



/*    nav ends here   */



/*    header starts here   */

header {
  width: 100%;
  height: 100%;
  background-image: url(../img/nature.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;




}

.personal_info {
  position: absolute;
  top: 50%;
  left: 6%;
  color: white;


}

.personal_info h1 {
  margin-bottom: 7px;
}

.personal_info h2 {
  margin-bottom: 7px;
}



/*    header ends here   */



/*    feature starts here   */



.feature_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.feature_item {
  width: 23%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;

}

.feature_item:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.feature_item h2 {
  background-color: green;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.feature_item .feature_img {
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;


}

.feature_item:nth-child(2) h2 {
  background-color: aqua;
}

.feature_item:nth-child(3) h2 {
  background-color: antiquewhite;
}

.feature_item:nth-child(4) h2 {
  background-color: brown;
}

/*    feature ends here   */



/*    item container starts here   */



.item_container h2 {
  text-align: center;
  margin-bottom: 50px;


}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;



}

.item {
  width: 15%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 20px;

}

.item:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);

}

.pro_img {
  width: 100%;
  margin-top: 10px;
  padding: 25px;
}

.badge {
  position: absolute;
  top: -15px;
  left: -10px;
  background-color: green;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.hr_design {
  margin: 2px 0;
}

.pro_desc {
  padding: 10px;
  gap: 5px;


}

.pro_desc h4 {
  color: green;
}

.pro_desc .star {
  color: rgb(17, 75, 236);
}

.item .cart {
  background-color: green;
  text-align: center;
  margin-bottom: 20px;

}

.trolly_icon {
  position: absolute;
  top: 72%;
  right: 8%;
  border: 1px solid green;
  border-radius: 50%;
  padding: 7px;
  font-size: 20px;
}






/*    item container ends here   */


/*    banner starts here   */

.banner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;



}

.big_banner {
  width: 45%;
  height: 40vh;
  text-align: center;
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;


}

.big_banner_2 {
  background-image: url(../img/banner2.jpg)
}

.btn {
  margin-top: 10px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  transition: 0.5s;
}

.btn:hover {
  background-color: green;
}

.actions .sort_by select {
  padding: 5px;
}

.search_form input {
  padding: 5px;
}

.search_form .btn_1 {
  padding: 5px;
  margin-left: -5px;
}





/*    banner ends here   */


/*    small banner starts here   */

.small_banner_1 {
  width: 30%;
  background-image: url(../img/banner3.jfif);
}

.small_banner_2 {
  width: 30%;
  background-image: url(../img/banner4.jfif);


}

.small_banner_3 {
  width: 30%;
  background-image: url(../img/banner5.jfif);


}

/*    small banner ends here   */











/*    products starts here   */

.pro_heading {
  text-align: center;
}


.pro_container {
  display: flex;



}

.sidebar {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 1rem;



}

.main_content {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.actions {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;


}

.product {
  width: 23%;



  padding: 5px;
  border-radius: 5px;
}


/*    products ends here   */




/*    newsletter starts here   */


.newsletter {
  width: 100%;
  height: 20vh;
  background-color: rgb(209, 209, 231);
  display: flex;
  justify-content: space-around;
}

.news_text {
  font-size: 25px;
}

.form .search_form {
  padding: 5px;
  height: 30px;
  outline: none;
}

.form i {
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(153, 143, 143);
  outline: none;
  margin-top: -1px;
  border-left-style: none;



}


/*    newsletter ends here   */



/*    footer starts here   */

.footer_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(102, 102, 105);
}

.footer_container .col_1 {
  width: 20%;
  color: white;
}

.footer_container .col_1 a {
  color: white;
}

.copyright {
  text-align: center;
  background-color: rgb(102, 102, 105);
  padding-bottom: 5px;
}

.trolly_icon {
  display: none;
}


/*    footer ends here   */



/* shop page starts here  */

.pegination {
  text-align: center;

}

.pegination a {
  font-size: 22px;
  background-color: green;
  padding: 8px;
  border-radius: 5px;
  margin-left: 10px;

}



/* shop page ends here  */




/* sproduct starts here */

.product_details{
  display: flex;
  justify-content: space-between;
}

.product_details .single_pro_img {
  width: 30%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;

}
.main_img{
  width: 100%;
  height: 50vh;
}

.small_img_group {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  
}

.small_img_col {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  flex-basis: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.single_pro_details{
  padding-top: 30px;
  width: 65%;
}
.single_pro_details h6{
 font-size: 25px;
 margin-bottom: 10px;
}
.single_pro_details h4{
  font-size: 20px;
  margin-bottom: 10px;
 }
 .single_pro_details h2{
  font-size: 18px;
  margin-bottom: 10px;
 }
 .single_pro_details select{
  padding: 5px;
 }
 .single_pro_details input{
  padding: 5px;
  width: 7%;
 }
 .single_pro_details button{
  padding: 5px;
  background-color: green;
  outline: none;
  border: 1px solid black;
  margin-bottom: 15px;
 }
 .single_pro_details p{
  line-height: 22px;
 }



/* sproduct ends here */




@media only screen and (min-width:200px) and (max-width:991px) {
  #mobile {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mobile i {
    padding-left: 20px;
    font-size: 25px;
  }

  #shopping_bag {
    display: none;
  }

  #closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 35px;

  }


  .nav_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(225, 225, 243);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -200px;
    z-index: 10;
    padding: 80px 0 0 30px;

  }

  .active {
    right: 0px;
  }

  .nav_list li {
    margin-bottom: 20px;

  }

  .nav_list li a {
    font-size: 24px;

  }

  .personal_info h1 {
    font-size: 40px;
    margin-bottom: 7px;
  }

  .personal_info h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }


  .feature_item {
    width: 48%;


  }

  .item {
    width: 23%;

  }

  .section_padding {
    padding: 40px 10px;
  }


  .big_banner {
    width: 48%;
  }

  .section_padding {
    padding: 20px 10px;
  }

  .pro_heading h2 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .sidebar {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    font-size: 25px;

  }

  .categories_section h3 {
    font-size: 14px;
  }

  .categories_section .list_item label {
    font-size: 15px;
  }

  .price_section h3 {
    font-size: 14px;
  }

  .price_section .list_item label {
    font-size: 15px;
  }

  .shipping_section h3 {
    font-size: 14px;
  }

  .shipping_section .list_item label {
    font-size: 14px;
  }

  .main_content {
    width: 85%;
  }

  .products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    width: 31%;
    height: auto;

  }

  .trolly_icon {
    display: none;
  }


  .big_banner {
    width: 47%;
  }

  .newsletter {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}


@media only screen and (min-width:200px) and (max-width:480px) {


  .personal_info h1 {
    font-size: 25px;

  }

  .personal_info h2 {
    font-size: 22px;

  }

  .feature_item {
    width: 100%;
  }

  .item {
    width: 47%;
  }

  .big_banner {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .actions {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;

  }

  .sort_by {
    width: 100%;
    margin-bottom: 10px;
  }

  .main_content {
    width: 100%;
  }

  .newsletter {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

  }

  .news_text {
    font-size: 16px;
  }

  .footer_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .footer_container .col_1 {
    width: 50%;
    color: white;
  }

  /*    sproduct starts here   */

  .product_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .product_details .single_pro_img {
    width: 100%;
   
}
.single_pro_details {
  width: 100%;
}
.single_pro_details p {
  text-align: justify;
}
.single_pro_details input {
  padding: 5px;
  width: 20%;
}
.single_pro_details button {
  width: 30%;
  
}


  /*    sproduct ends here   */

}